/**
 * ChefConf 2016 theme for reveal.js.
 *
 * Derived from "Black" By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);
@import url(../../lib/font/avenir/avenir.css);

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #434343;

$mainColor: #FFFFFF;
$headingColor: #FFFFFF;

$mainFontSize: 60px;
$mainFont: 'Avenir Next', 'Helvetica', 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Avenir Next', 'Helvetica', 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: normal;
$headingFontWeight: 600;
$linkColor: #e2dd29;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 1.8em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal ol {
  list-style-position: outside;
}

.reveal li {
  line-height: 1.5em;
}

.reveal .smallquote blockquote {
  //background: #434343;
  border-left: 10px solid #ef9600;
  width: 90%;
  //margin: 1.5em 10px;
  //padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-size: 1.5em;
  font-style: normal;
}

.reveal .smallquote blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 2.5em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.reveal blockquote {
  //background: #434343;
  border-left: 10px solid #ef9600;
  width: 90%;
  //margin: 1.5em 10px;
  //padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-size: 1.5em;
  font-style: normal;
}

.reveal blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 2.5em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.reveal section img {
  border: none;
  box-shadow: none;
}

.reveal h2 {
  color: #ef9600;
}

.reveal h3 {
  color: #92c1e9;
}

.reveal .dark-background {
  background-color: #434343;
}

.reveal .orange {
  color: #ef9600;
}

.reveal .blue {
  color: #92c1e9;
}

.reveal .dark-blue {
  color: #2f3e4b;
}

.reveal .cool-gray {
  color: #b1b3b3;
}

.reveal .off-white {
  color: #edeff0;
}

.reveal .yellow {
  color: #32dd29;
}

.reveal .light-blue {
  color: #7da2c3;
}

.reveal .light-yellow {
  color: #f1ee85;
}

.reveal .beige {
  color: #f8c492;
}

.reveal .baby-blue {
  color: #bed1e1;
}

.reveal .shadow {
  text-shadow: 0px 10px 10px #000;
}

.reveal div.white-see-through {
  background-color: #ffffff;
  opacity: 0.9;
  padding: 20px;
  border-radius: 30px;
}

.reveal div.see-through {
  background-color: #434343;
  opacity: 0.96;
  padding: 20px;
  border-radius: 10px;
}

.reveal div.solid {
  background-color: #3f5463;
  padding: 20px;
  border-radius: 30px;
}

.reveal pre {
	display: block;
	position: relative;
	width: 90%;
	margin: $blockMargin auto;
	text-align: left;
	font-size: 0.55em;
	font-family: monospace;
	line-height: 1.2em;
	word-wrap: break-word;
	box-shadow: none;
}
.reveal code {
	font-family: monospace;
}

.reveal pre code {
	display: block;
	padding: 5px;
	overflow: auto;
	max-height: 600px;
	word-wrap: break-word;
  font-family: "Source Sans Pro";
  font-size: 16pt;
}

.reveal .slides section .fragment.highlight-yellow,
.reveal .slides section .fragment.highlight-current-yellow {
  opacity: 1;
  visibility: visible;
}

.reveal .slides section .fragment.highlight-current-yellow.current-fragment {
  background-color: #FFFF00;
}

.reveal iframe {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.reveal .split-screen {
  width: 100%;
  height: 300px;
}

.reveal .split-screen .left {
  float: left;
  width: 50%;
  height: 100%;
}

.reveal .split-screen .left pre code {
  font-size: 14pt;
}

.reveal .split-screen .right {
  float: left;
  width: 50%;
  height: 100%;
}

.reveal section img {
  background: none;
  background-blend-mode: normal;
}

